:root {
  --Englishfont: 'Englishfont', serif;
}
@font-face {
  font-family: 'Englishfont';
  src: url("../font/HindVadodara-Regular.ttf") format('truetype');
}
/*Home_iPhoneおよび共通設定*/
body {
  font-family: 'Noto Sans JP', sans-serif;
  overflow-x: hidden;
}
.container {
  color: #505050;
  width: 100%;
  background: #fff;
}
.cotainer_wrapper {
  max-width: 1280px;
  padding: 0;
  margin: 0 auto;
}
img {
  width: 100%;
}
.key {
  position: relative;
  padding: 30px;
}
.key .key_title {
  text-align: center;
}
.key .key_title .brand {
  font-size: 2em;
  font-family: var(--Englishfont);
  text-align: center;
  text-decoration: none;
  color: #505050;
  letter-spacing: 5px;
  font-weight: bold;
}
.key .key_title .brand:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  border-bottom: solid 1px #2f2f2f;
  transform: translateX(-50%);
  animation: border_anim 3s linear forwards;
}
@-moz-keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.key-visual {
  position: relative;
}
.key-visual .topphoto {
  background: url("../imges/keyvisual.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 340px;
  margin-bottom: 80px;
}
.key-visual .topphoto .key_font {
  background: url("../imges/key_visual_suiki.svg");
  background-repeat: no-repeat;
  width: 140px;
  height: 65px;
  position: absolute;
  left: 58%;
  top: 44%;
  transform: translate(-50%, -50%);
  animation: fadeup 2s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
.key-visual .topphoto .key_font .leadtext {
  font-size: 18px;
  position: absolute;
  left: -139%;
  top: -16%;
}
.key-visual .topphoto .key_font .leadtext_en {
  font-size: 14px;
  font-family: var(--Englishfont);
  position: absolute;
  left: -148%;
  top: 37%;
}
.title {
  text-align: center;
  margin-bottom: 50px;
}
.title .font_sb {
  font-size: 18px;
  padding-bottom: 8px;
}
.title .brand_name {
  font-family: var(--Englishfont);
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 8px;
}
.title .title_en {
  font-size: 1em;
  font-family: var(--Englishfont);
}
.concept {
  margin-bottom: 50px;
}
.concept_container {
  width: 300px;
  height: 100%;
}
.concept_container .box_gradient {
  width: 300px;
  height: 150px;
  background: #ddf8ff;
  background: linear-gradient(0deg, #ddf8ff 27%, #75a9da 100%);
  animation: zoomIn 3s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
.concept_container .box_gradient .link_text {
  text-align: center;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--Englishfont);
}
.concept_container .box_gradient .link_text h2 {
  padding-bottom: 4px;
  border-bottom: solid 1px #fff;
  width: 107px;
  margin: 0 auto;
  font-size: 24px;
}
.concept_container .box_gradient .link_text .title_en {
  font-size: 1em;
  padding-top: 4px;
}
@-moz-keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-o-keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.box_text {
  padding-top: 24px;
  width: 270px;
  margin: 0 auto;
}
.box_text .text_jp {
  font-size: 1em;
  line-height: 24px;
  margin: 0 auto;
}
.our_brand .concept_container {
  margin: 0 0 0 auto;
}
.our_brand .concept_container .box_gradient .link_text h2 {
  width: 150px;
}
.brand_container {
  margin-top: 80px;
  margin-bottom: 80px;
}
.brand_container .brand_section {
  margin-bottom: 100px;
}
.brand_container .brand_section .brand_top img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.brand_container .brand_section .brand_top .text_box {
  width: 307px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 42px;
}
.brand_container .brand_section .brand_top .text_box .brand_text {
  font-size: 1em;
  line-height: 24px;
}
.brand_container .brand_photos {
  display: flex;
  flex-direction: row;
  gap: 56px;
  justify-content: center;
  align-items: flex-start;
}
.brand_container .brand_photos #brand_02 {
  margin-top: 32px;
}
.banner_inner .item_about #item_sp {
  display: block;
}
.banner_inner .item_about #item_pc {
  display: none;
}
.section_banner {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
}
.section_banner .banner_item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  border: 0;
}
.section_banner .banner_item a {
  display: block;
  position: relative;
  border: none;
}
.information_container {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 50px;
}
.information_container h2 {
  font-size: 24px;
  margin-bottom: 32px;
  text-align: center;
}
.information_container .information_box {
  background: #fbfbfb;
  padding: 0 20px;
  padding-top: 24px;
}
.information_container .information_box .information_detail {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 24px;
}
.information_container .information_box .information_detail .title {
  text-align: left;
  font-size: 0.8em;
  padding-bottom: 8px;
  border-bottom: solid 1px #505050;
  margin-bottom: 16px;
}
.information_container .information_box .information_detail .text {
  font-size: 1em;
  line-height: 24px;
}
.footer {
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer nav ul {
  list-style-type: none;
  padding-left: 40px;
}
.footer nav ul li {
  padding-bottom: 24px;
}
.footer nav ul a {
  font-size: 1em;
  color: #505050;
  text-decoration: none;
}
.footer nav ul a:hover {
  text-decoration: underline;
}
.copy {
  font-size: 0.8em;
  text-align: center;
  padding-bottom: 16px;
  padding-top: 16px;
}
/*Home_iPadおよび共通設定*/
@media screen and (min-width: 768px) {
  .key-visual .topphoto {
    margin-bottom: 100px;
  }
  .key-visual .topphoto .key_font {
    left: 65%;
    width: 292px;
  }
  .key-visual .topphoto .key_font .leadtext_en {
    left: -144%;
  }
  .title {
    margin-bottom: 80px;
  }
  .title .font_sb {
    font-size: 1em;
  }
  .title .font-size {
    font-size: 30px;
  }
  .title .title_en {
    font-size: 14px;
  }
  .concept {
    margin-bottom: 80px;
  }
  .concept_container {
    width: 640px;
    height: 100%;
  }
  .concept_container .box_gradient {
    width: 640px;
    height: 235px;
  }
  .concept_container .box_gradient .link_text h2 {
    font-size: 18px;
    padding-bottom: 8px;
    width: 73px;
  }
  .concept_container .box_gradient .link_text .title_en {
    font-size: 14px;
    padding-top: 8px;
  }
  .concept_container .box_text {
    padding-top: 42px;
    width: 640px;
  }
  .concept_container .box_text .text_jp {
    width: 522px;
    font-size: 14px;
    line-height: 22px;
  }
  .brand_container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .brand_container .brand_section {
    margin-bottom: 100px;
  }
  .brand_container .brand_section .brand_content {
    display: flex;
    justify-content: center;
    gap: 42px;
  }
  .brand_container .brand_section .brand_content .text_box {
    width: 309px;
  }
  .brand_container .brand_section .brand_content .text_box .brand_text {
    font-size: 14px;
    line-height: 22px;
  }
  .brand_container .brand_section .brand_content .brand_photos {
    gap: 40px;
  }
  .brand_container .brand_section .brand_content .brand_photos #brand_02 {
    margin-top: 56px;
  }
  .bannre_title .title {
    margin-bottom: 0px;
  }
  .banner_box {
    padding: 50px;
  }
  .information_container .information h2 {
    font-size: 1.8em /* pc */;
    margin-bottom: 50px;
  }
  .information_container .information .information_box {
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
    padding-top: 42px;
  }
  .information_container .information .information_box .information_detail {
    width: 44%;
    margin: auto;
    padding-bottom: 42px;
  }
  .information_container .information .information_box .information_detail .titile {
    font-size: 0.7em;
  }
  .information_container .information .information_box .information_detail .text {
    font-size: 14px;
  }
  .footer {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
  }
  .footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
  }
  .footer nav ul li {
    padding-bottom: 0px;
  }
  .copyright .copy {
    font-size: 0.8em;
    text-align: center;
    padding-bottom: 32px;
    padding-top: 32px;
  }
}
/*Home_PCおよび共通設定*/
@media screen and (min-width: 1024px) {
  .key-visual .topphoto .key_font {
    left: 68%;
    top: 47%;
    width: 372px;
  }
  .title {
    margin-bottom: 100px;
  }
  .concept {
    margin-bottom: 100px;
  }
  .brand_container .brand_section .brand_content {
    gap: 80px;
  }
  .brand_container .brand_section .brand_content .brand_photos {
    gap: 50px;
  }
  .bannre_title .title {
    margin-bottom: 80px;
  }
  .banner_box {
    padding: 0px;
    display: flex;
  }
  .banner_box .banner_inner {
    width: 25%;
  }
  .banner_box .banner_inner .item_about #item_sp {
    display: none;
  }
  .banner_box .banner_inner .item_about #item_pc {
    display: block;
  }
  .banner_box .section_banner {
    -webkit-flex-wrap: nowrap;
  }
  .information_container {
    margin-top: 80px;
  }
}
@-moz-keyframes fadeup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes fadeup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
