
fonth2 = 24px 
fonth2_PC= 1.8em /* pc */
fontP = 1em
fontP_PC= 14px
title_sb= 18px /* sp */
title_sb_PC=16px  /* pc */


:root{

  --Englishfont: 'Englishfont', serif;
}
@font-face {
  font-family: 'Englishfont';
  src: url('../font/HindVadodara-Regular.ttf') format('truetype');
}

/*Home_iPhoneおよび共通設定*/
body 
	font-family:'Noto Sans JP', sans-serif;
	overflow-x: hidden;

.container 
  color: #505050;
  width: 100%
  background: #fff;

.cotainer_wrapper
  max-width 1280px
  padding: 0
  margin: 0 auto
img
 width: 100%
.key
  position relative
  padding: 30px
  .key_title
    text-align: center
    .brand
      font-size: 2em
      font-family: var(--Englishfont);
      text-align: center
      text-decoration: none;
      color #505050;
      letter-spacing: 5px
      font-weight: bold

    .brand:before 
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      border-bottom: solid 1px #2f2f2f;
      transform: translateX(-50%);
      animation: border_anim 3s linear forwards;
      @-moz-keyframes border_anim {
        0% {
          width: 0%;
        }
        100% {
          width: 100%;
        }
      }
      @-webkit-keyframes border_anim {
        0% {
          width: 0%;
        }
        100% {
          width: 100%;
        }
      }
      @-o-keyframes border_anim {
        0% {
          width: 0%;
        }
        100% {
          width: 100%;
        }
      }
      @keyframes border_anim {
        0% {
          width: 0%;
        }
        100% {
          width: 100%;
        }
      }
.key-visual
  position: relative;
  .topphoto
    background: url(../imges/keyvisual.jpg)
    background-repeat: no-repeat;
    background-size: 100%
    height 340px
    margin-bottom: 80px

    .key_font
      background: url(../imges/key_visual_suiki.svg)
      background-repeat: no-repeat;
      width: 140px;
      height: 65px
      position: absolute;
      left: 58%;
      top: 44%;
      transform: translate(-50%,-50%) 
      animation: fadeup 2s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
      .leadtext
        font-size: 18px
        position: absolute;
        left :-139%;
        top: -16%;
      .leadtext_en
        font-size: 14px
        font-family: var(--Englishfont);
        position: absolute;
        left :-148%;
        top: 37%;
@keyframes fadeup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
      
      

.title
  text-align: center
  margin-bottom: 50px
  .font_sb
    font-size: 18px
    padding-bottom: 8px
  .brand_name
    font-family: var(--Englishfont);
    font-size: 40px
    font-weight: 800
    padding-bottom: 8px
  .title_en
    font-size: fontP
    font-family: var(--Englishfont);
.concept
  margin-bottom: 50px
.concept_container
  width: 300px
  height 100%
  .box_gradient
    width: 300px
    height 150px
    background: rgb(221,248,255);
    background: linear-gradient(0deg, rgba(221,248,255,1) 27%, rgba(117,169,218,1) 100%);
    animation: zoomIn 3s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;

    @keyframes zoomIn {
      0% {
        transform: scale(0.8);
        opacity: 0;
      }
      100% {
         opacity: 1;
        transform: scale(1);
      }
    }
  
    .link_text
      text-align: center
      color #fff
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%) 
      font-family: var(--Englishfont);
      h2
        padding-bottom: 4px
        border-bottom: solid 1px #fff
        width: 107px
        margin: 0 auto
        font-size: fonth2
      .title_en
        font-size: fontP
        padding-top: 4px
.box_text 
  padding-top: 24px
  width: 270px
  margin: 0 auto 
  .text_jp
    font-size: fontP
    line-height: 24px
    margin: 0 auto 
.our_brand
  .concept_container
     margin: 0 0 0 auto;
     .box_gradient
      .link_text
        h2
          width: 150px
.brand_container 
  margin-top: 80px
  margin-bottom: 80px     
  .brand_section
    margin-bottom: 100px
    .brand_top
      img
        width: 100%
        display: block
        margin: 0 auto
      .text_box
        width: 307px
        margin: 0 auto
        margin-top: 24px
        margin-bottom: 42px
        .brand_text
          font-size: fontP
          line-height: 24px

  .brand_photos
    display: flex;
    flex-direction: row;
    gap: 56px;
    justify-content: center
    align-items: flex-start;
    #brand_02 
      margin-top: 32px;
.banner_inner
  .item_about
    #item_sp
      display: block
    #item_pc
      display: none

.section_banner
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  .banner_item
    display: flex
    flex-direction: column
    flex-wrap: wrap;
    width: 50%;
    border: 0;
    a
      display: block;
      position: relative;
      border: none;
    
.information_container
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 50px
  h2
    font-size: fonth2
    margin-bottom: 32px;
    text-align: center;
  .information_box  
    background: #FBFBFB;
    padding: 0 20px;
    padding-top: 24px;
    .information_detail
      margin-left: 20px;
      margin-right: 20px;
      padding-bottom: 24px;
      .title
        text-align: left 
        font-size: 0.8em;
        padding-bottom: 8px;
        border-bottom: solid 1px #505050;
        margin-bottom: 16px;
      .text
        font-size: fontP
        line-height: 24px
.footer
  margin-top: 80px
  margin-bottom: 56px
  padding-left: 40px
  nav ul
    list-style-type: none;
    li
      padding-bottom: 24px
    a
      font-size: fontP;
      color: #505050;
      text-decoration: none;
    a:hover
      text-decoration: underline;
.copyright
  margin-top: 24px
  margin-bottom: 24px
  .copy
    font-size: 0.8em;
    text-align: center;


/*Home_iPadおよび共通設定*/
@media screen and (min-width: 768px)
  .key-visual
    .topphoto
      margin-bottom: 100px
      .key_font
        left: 65%
        width: 292px
        .leadtext_en
          left: -144%;
  .title
    margin-bottom: 80px 
    .font_sb
      font-size: fontP
    .font-size
      font-size: 30px
    .title_en
      font-size: fontP_PC
  .concept
    margin-bottom: 80px
  .concept_container
    width: 640px
    height 100%
    .box_gradient
      width: 640px
      height: 235px
      .link_text
        h2
          font-size: 18px
          padding-bottom: 8px
          width: 73px
        .title_en
          font-size: fontP_PC
          padding-top: 8px
    .box_text
      padding-top: 42px
      width: 640px
      .text_jp
        width: 522px
        font-size: fontP_PC
        line-height: 22px
  .brand_container 
    margin-top: 100px
    margin-bottom: 100px
    .brand_section
      margin-bottom: 100px
      .brand_content
        display: flex
        justify-content: center
        gap: 42px
        .text_box
          width: 309px
          .brand_text
            font-size: fontP_PC
            line-height: 22px
        .brand_photos
          gap: 40px
          #brand_02
            margin-top: 56px
  .bannre_title
    .title
      margin-bottom: 0px

  .banner_box
    padding: 50px
  .information_container
    .information
      h2
        font-size: fonth2_PC
        margin-bottom: 50px;
      .information_box
        display: flex;
        flex-wrap: wrap;
        padding: 0 40px;
        padding-top: 42px;
        .information_detail
          width: 44%;
          margin: auto;
          padding-bottom: 42px;
          .titile
            font-size: 0.7em
          .text
            font-size: fontP_PC
          
          
  .footer 
    margin-bottom: 0px
    margin-top: 0px
    padding: 50px;
    max-width 1000px
    margin: 0 auto
    nav ul
      display: flex;
      flex-direction: row;
      justify-content: space-between
      padding-left: 0px
      li
        padding-bottom: 0px
  .copyright
    margin-top: 30px;
    margin-bottom: 30px;
    .copy
      font-size: 0.7em;

 /*Home_PCおよび共通設定*/
 @media screen and (min-width: 1024px)
  .key-visual 
    .topphoto 
      .key_font
        left: 68%
        top: 47%;
        width: 372px;
  .title
    margin-bottom: 100px
  .concept
    margin-bottom: 100px
  .brand_container
    .brand_section 
      .brand_content
        gap: 80px;
        .brand_photos
          gap: 50px;
  .bannre_title
    .title
      margin-bottom: 80px
  .banner_box 
    padding: 0px
    display: flex      
    .banner_inner
      width: 25%
      .item_about
        #item_sp
          display: none
        #item_pc
          display: block
    .section_banner
      -webkit-flex-wrap: nowrap;
  .information_container
    margin-top: 80px

 /*Contact_iPhoneおよび共通設定*/
 .about 
  margin-top: 50px;
  margin-bottom: 34px
  text-align: center;
  h2 
    font-size: fonth2
   
    
   

.Form {
  margin-top: 10px;
  width: 90%;
  margin: 0 auto
  max-width: 1500px;
}
.Form-Item {
  padding-top: 16px;
  padding-bottom: 16px;
  flex-wrap: wrap;
  width: 90%
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
.Form-Item-Label {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
.Form-Item-Label.isMsg {
  margin-top: 0;
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #545454;
  color: #fff;
  font-size: 14px;
}
.Form-Item-Label-Required {
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 32px;
  font-size: 10px;
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 320px;
  font-size: 18px;
}
.Form-Item-Input {
  margin-left: 0;
  margin-top: 18px;
  height: 40px;
  flex: inherit;
  font-size: 15px;
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 320px;
  font-size: 18px;
}
.Form-Item-Textarea {
  margin-top: 18px;
  margin-left: 0;
  height: 200px;
  flex: inherit;
  font-size: 15px;
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  width: 230px;
  display: block;
  letter-spacing: 0.05em;
  background: #545454;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.Form-Btn {
  margin-top: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 160px;
  font-size: 16px;
}

/*Contact_iPadおよび共通設定*/
@media screen and (min-width: 768px) 
  .about 
    margin-top: 80px
  .Form 
    margin-top: 50px;
    width: 100%
    .Form-Item 
      padding-top: 24px;
      padding-bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      width: 100%;
    .Form-Btn 
      margin-top: 50px;
      margin-bottom: 30px

/*Contact_PCおよび共通設定*/
@media screen and (min-width: 1024px) 
  .Form 
    .Form-Btn 
      margin-bottom: 50px

  


 
  


















  

    
    


     








      
     

     





      




      

      




    
    




       

  

    
  
  

  
    

  

  
  
  
    










    


  

  
    

    

    






  
    
   
      










